{% extends 'base.html.twig' %}

{% block title %}New Accompagnement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 300px;
            max-height: 300px;
        }
        /*Toolbar*/
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            ClassicEditor
                .create(document.querySelector('#accompagnement_description'), {
                    toolbar: [ 'heading','bold', 'italic', 'bulletedList', 'numberedList', 'blockQuote', 'indent', 'alignment' ],
                    height: 50
                })
                .catch(error => {
                    console.error(error);
                });
        }
    </script>
{% endblock %}

{% block content %}
    <section class="container">
        <div id="content-header" class="row mb-3">
            <div class="col-12">
                <h1>Ajouter un accompagnement</h1>
            </div>
        </div>
        <div class="content">
            {{ include('admin/accompagnement/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
