{% extends 'base.html.twig' %}

{% block title %}New Accompagnement{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /*Textbox*/
        .ck-editor__editable {
            min-height: 300px;
            max-height: 300px;
        }
        /*Toolbar*/
    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <section class="container">
        <div class="content">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ajouter un accompagnement</h5>
                </div>
                {{ include('admin/accompagnement/_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
