{% extends 'base.html.twig' %}

{% block title %}New Formposte
{% endblock %}

{% block content %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>Enquête 1/3 | Information sur l'usager</h3>
					</div>
					{{ include('admin/formposte/_form.html.twig') }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
