{% extends 'admin.html.twig' %}

{% block title %}New question{% endblock %}

{% block content %}
<div class="container-fluid">
    <section id="op_admin_content_body">
        <div class="row g-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Créer une nouvelle question</h3>
                    </div>
                    {{ include('admin/question/_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
