<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {% for besoin in besoins %}
        <tr>
            <td><input type="checkbox" value="{{ besoin.id }}" name="checkedbesoin"></td>
            <td>{{ besoin.name }}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

