{% extends 'base.html.twig' %}

{% block title %}Hello publicController!
{% endblock %}

{% block content %}
	<section class="container">
		<div class="row justify-content-center mt-3">
			<div class="col-9">
				<h6 class="text-center">"<b>La Poste</b>" et le "<b>Club Micro Saint Pierre</b>" oeuvre ensemble pour détecter les besoins vos besoins en accompagnement numérique ...</h6>
				<p class="text-center">
					<a class="btn btn-outline-primary" href="{{path('op_webapp_formposte_new')}}">Participer à l'évaluation de vos connaissances ?</a>&nbsp;&nbsp;
					<a class="btn btn-outline-primary">Quels seraient vos besoins ?</a>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
