<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {% block header %}
            {{ include('include/header_admin.html.twig') }}
            {{ include('include/navbar_admin.html.twig') }}
        {% endblock %}
    </header>
    <main>
        {% block aside %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>

    </body>
</html>
