<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        {% block header %}
            <section class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p class="text-center">
                            <img src="{{ asset('images/logo/unnamed.png') }}" alt="ClubMicroSaintPierre" style="height: 200px;">
                        </p>
                    </div>
                </div>
            </section>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="fixed-bottom">
        {% block footer %}
            <section class="container-fluid">
            </section>
            <section class="container-fluid">
                <div class="row">
                    <div class="col-5">
                        <p class="text-start">Site réalisé sous Symfony5 - OpenPixl</p>
                    </div>
                    <div class="col-2">
                        <p class="text-center"><a href="#" style="color: #AAAAAA"><i class="fas fa-lock"></i></a></p>
                    </div>
                    <div class="col-5">
                        <p class="text-end"><a href="http://www.clubmicrosaintpierre.fr">Club Micro Saint Pierre</a></p>
                    </div>
                </div>
            </section>
        {% endblock %}
    </footer>

    </body>
</html>
