{% extends 'admin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}



{% block content %}
<section class="container-fluid">
    <div class="row mb-3 mt-3">
        <div class="col-12">
            <h2>Tableau de bord</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">Présence</h6>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Présence</th>
                                <th>Fréquentation du bureau</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for usager in usagers %}
                            <tr>
                                <td>{{ usager.date|format_datetime('medium', 'none', locale='fr') }}</td>
                                <td>{{ usager.countUsager }}</td>
                            </tr>
                        {% else %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}